In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
for i in range(10):
    num = str(i).zfill(3)
    df[f'feature_{num}'] = np.random.normal(0, 0.1, 100)

In [3]:
df.head()

,feature_000,feature_001,feature_002,feature_003,feature_004,feature_005,feature_006,feature_007,feature_008,feature_009
0,0.080318,-0.113893,0.002451,-0.001294,0.033985,-0.099607,-0.023247,0.037972,0.076350,0.015384
1,0.066393,-0.017842,0.140568,0.098733,-0.058484,-0.064894,0.050023,-0.047545,0.114584,0.214487
2,0.062154,-0.030802,0.124888,0.038053,-0.011303,0.037726,-0.043269,0.022046,-0.175499,0.062629
3,-0.059428,0.014927,-0.026308,0.016263,0.023710,0.064092,0.051497,-0.215383,-0.178998,0.053893
4,-0.010442,0.044619,0.108276,0.126085,0.080850,0.011532,-0.074260,0.103563,0.031373,0.130081

In [4]:
df.to_csv('sample.csv', index=None)